<div class="product-item">
    <a href="/"><img class="product-item__img" src="https://preview.colorlib.com/theme/footwear/images/item-3.jpg.webp"
            alt=""></a>
    <div class="product-item__content">
        <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
        <span class="product-item__price">{{ product.price }}</span>
    </div>
</div>

<style>
    .product-item {
        text-align: center;
        border: 1px solid #dee2e6;
        font-family: var(--font-body-family);
    }

    .product-item h2 {
        margin-bottom: 15px;
    }

    .product-item h2 a,
    .product-item__price {
        font-family: var(--font-body-family);
        font-size: 14px !important;
        color: #000;
        font-weight: normal;
    }

    .product-item .product-item__img {
        width: 100%;
    }

    .product-item__content {
        padding: 1.5em;
    }
</style>