<div class="best-products__section">
    <div class="container">
        <div class="best-products__title">
            <h2>BEST SELLERS</h2>
        </div>
        <div class="best-products__content">
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-3.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-1.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-2.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-3.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-4.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-5.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-6.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-7.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-8.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
            <div class="product-item">
                <a href="/"><img class="product-item__img"
                        src="https://preview.colorlib.com/theme/footwear/images/item-8.jpg.webp" alt=""></a>
                <div class="product-item__content">
                    <h2><a href="/">WOMEN'S BOOTS SHOES MACA</a></h2>
                    <span class="product-item__price">$139.00</span>
                </div>
            </div>
        </div>
        <div class="best-products__link">
            <a href="/" class="shop-link">Shop all products</a>
        </div>
    </div>
</div>

<style>
    .best-products__section {
        margin: 30px 0;
    }

    .best-products__title {
        margin-bottom: 4em;
        text-align: center;
        font-size: 20px;
        letter-spacing: 4px;
    }

    .best-products__content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .product-item__content {
        padding: 1.5em;
    }

    .product-item {
        text-align: center;
        border: 1px solid #dee2e6;
        font-family: var(--font-body-family);
    }

    .product-item h2 {
        margin-bottom: 15px;
    }

    .product-item h2 a,
    .product-item__price {
        font-family: var(--font-body-family);
        font-size: 14px !important;
        color: #000;
        font-weight: normal;
    }

    .product-item .product-item__img {
        width: 100%;
    }

    .best-products__link{
        width: fit-content;
        margin: auto;
        display: block;
        margin-top: 65px;
    }
</style>