<div class="container">
    <div class="collection-page-all">
        <h2 class="collection-page-all-title">View all products</h2>
        <div class="collection-all-products">
            <div class="collection-filters flex justify-between my-[25px]">
                <div class="w-[100%]">
                    <form class="flex justify-between w-[100%]" id="FacetSortForm">
                        <div class="flex gap-4 items-center">
                            <h2 class="">
                                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                            </h2>
                            <div class="">
                                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                                <select name="sort_by" class="w-[100%] py-2 px-3 border rounded" id="SortBy"
                                    aria-describedby="a11y-refresh-page-message">
                                    {%- for option in collection.sort_options -%}
                                    <option value="{{ option.value | escape }}" {% if option.value==sort_by %}
                                        selected="selected" {% endif %}>{{ option.name | escape }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                            
                            <div>
                                <button id="btn-sort" type="submit"
                                    class="hover:bg-primary-brown hover:text-white flex w-fit rounded-md justify-center items-center m-auto py-2 px-3 text-center bg-grey-50">
                                    Apply
                                </button>
                            </div>
                        </div>

                        <div>
                            {%- comment -%} FILTERS {%- endcomment -%}
                        </div>
                    </form>
                </div>
            </div>
            <div class="collection-all-grid">
                {% for product in collection.products %}
                {% render 'product-card', product: product %}
                {% endfor %}
            </div>
            <div class="flex items-center justify-center my-[50px]">
                <a href="{{ collection.url }}">All products</a>
            </div>
        </div>
    </div>
</div>

<script>
    let labels = document.querySelectorAll(".filter-label")
    let selected = document.querySelectorAll(".selected")
    let filters = document.querySelectorAll(".filters")
    for (let i = 0; i < labels.length; i++) {
        let label = document.getElementById(`filter-label-${i + 1}`)
        label.addEventListener("click", () => showContent(i + 1))
    }

    let openFilter = true

    function showContent(index) {
        if (openFilter === true) {
            filters[index - 1].style.display = 'block';
            openFilter = false
        } else {
            filters[index - 1].style.display = 'none';
            openFilter = true
        }

    }
</script>

<style>
    /* .product-card {
        background-color: red;
        height: 346px;
    } */

    .collection-page-all {
        padding: 7em 0;
    }

    .collection-page-all-title {
        color: var(--secondary-grey);
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5em;
        font-weight: 700;
    }

    .collection-filters {
        font-family: var(--font-heading-family);
    }

    .collection-all-grid {
        max-width: 100%;
        flex: 0 0 100%;
        /*flex grow, flex shrink flex basis*/
    }

    .collection-all-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    @media (max-width: 990px) {
        .collection-all-grid {
            grid-template-columns: auto;
        }

        .collection-all-grid {
            max-width: 100%;
        }

        .collection-all-products {
            flex-direction: column;
            gap: 30px;
        }
    }
</style>


{% schema %}
{
"name":"collection-products",
"settings":[
{
"type":"collection",
"id":"collection",
"label":"Collection"
}
],
"blocks":[

],
"presets":[
{
"name":"collection-products"
}
]
}
{% endschema %}