{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="container footer-container">
        <div class="footer__top">
            <div class="footer__top-column">
                <h5>ABOUT FOOTWEAR</h5>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life</p>
                <div>A  B  C  D</div>
            </div>
            <div class="footer__top-column">
                <h5>CUSTOMER CARE</h5>
                <ul>
                    <li>CONTACT</li>
                    <li>RETURNS/EXCHANGE</li>
                    <li>GIFT VOUCHER</li>
                    <li>WISHLIST</li>
                    <li>SPECIAL</li>
                    <li>CUSTOMER SERVICES</li>
                    <li>SITE MAPS</li>
                </ul>
            </div>
            <div class="footer__top-column">
                <h5>INFORMATION</h5>
                <ul>
                    <li>ABOUT US</li>
                    <li>DELIVERY INFORMATION</li>
                    <li>PRIVACY POLICY</li>
                    <li>SUPPORT</li>
                    <li>ORDER TRACKING</li>
                </ul>
            </div>
            <div class="footer__top-column">
                <h5>NEWS</h5>
                <ul>
                    <li>BLOG</li>
                    <li>PRESS</li>
                    <li>EXHIBITIONS</li>
                </ul>
            </div>
            <div class="footer__top-column">
                <h5>CONTACT INFORMATION</h5>
                <ul>
                    <li>291 SOUTH 21TH STREET,
                        SUITE 721 NEW YORK NY 10016</li>
                    <li>+ 1235 2355 98</li>
                    <li>INFO@YOURSITE.COM</li>
                    <li>YOURSITE.COM</li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom--copy">Copyright ©2023 All rights reserved | This template is made with ♥ by
                Colorlib Demo Images: Unsplash ,
                Pexels.com</p>
        </div>
    </div>
</footer>

{% schema %}
{
"name": "footer",
"presets": [
{
"name": "footer"
}
]
}
{% endschema %}
