<div class="container-slider">
    <div class="slider" id="slider">
        {% for block in section.blocks %}
        <div class="slider__section">
            {%- if block.settings.image -%}
            <img
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.image.alt | escape }}"
              class="slider__img"
            >
            <div class="slider__section-content">
                <h2 class="slider-head-1">HUGE</h2>
                <h2 class="slider-head-2">Sale</h2>
                <h2 class="slider-head-3">COLLECTION</h2>
                <p class="slider-text">New stylish shoes for men</p>
                <a href="youtube.com" class="slider-link">Shop collection</a>
            </div>
          {%- endif -%}
        </div>
        {% endfor %}
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">
        <span>{% render 'arrow-icon' %}</span>
    </div>
    <div class="slider__btn slider__btn--left" id="btn-left">
        <span>{% render 'arrow-icon' %}</span>
    </div>
</div>

{% schema %}
{
    "name": "image-banner",
    "blocks": [
        {
            "name": "Slide",
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "select image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "image-banner"
        }
    ]
}
{% endschema %}

<style>
    .container-slider {
        width: 100%;
        /* max-width: 900px; */
        margin: auto;
        overflow: hidden;
        position: relative;
    }

    .slider {
        display: flex;
        /* width: 300%; */
        margin-left: -100%;
        height: fit-content;
    }

    .slider__section {
        height: 600px;
        width: 100%;
        position: relative;
    }

    .slider__section-content {
        text-align: center;
        color: #fff;

    }

    .slider-head-1 {
        color: #fff;
        font-weight: 700;
        font-size: 60px;
        font-family: var(--font-body-family);
    }

    .slider-head-2 {
        letter-spacing: 5px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
        font-family: var(--font-body-family);
    }

    .slider-head-3 {
        color: #fff;
        font-weight: 100;
        font-family: var(--font-heading-family);
        font-size: 35px !important;
        text-transform: uppercase;
    }

    .slider-text {
        color: #fff;
        font-weight: 100;
        margin-bottom: 60px !important;
        margin-top: 20px;
        font-size: 20px;
        font-family: var(--font-heading-family);
    }

    .slider-link {
        text-transform: uppercase;
        font-weight: 100;
        font-family: var(--font-heading-family);
        letter-spacing: 2px;
        padding: 20px 30px;
        background-color: #616161;
        border-radius: 40px;
        color: #fff;
    }

    .slider-link:hover {
        background-color: #000;
    }

    .slider__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider__section-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
        width: fit-content;
        /* background-color: red; */
    }

    .slider__btn {
        position: absolute;
        top: 0;
        bottom: 0;
        cursor: pointer;
        color: #fff;
        border-radius: 40px;
        padding: 10px;
        height: fit-content;
        margin: auto;
    }

    .slider__btn span svg {
        fill: #fff;
        display: block;
    }

    .slider__btn:hover {
        background-color: rgba(192, 192, 192, 0.324);
    }

    .slider__btn--left {
        left: 5%;
    }

    .slider__btn--right {
        right: 5%;
        transform: rotate(180deg);
    }
</style>

<script>
    const slider = document.querySelector('#slider');
    let sliderSection = document.querySelectorAll('.slider__section');
    let sliderSectionLast = sliderSection[sliderSection.length - 1]
    let buttons = document.querySelectorAll('.slider__btn');
    const btnLeft = document.querySelector('#btn-left');
    const btnRight = document.querySelector('#btn-right');

    slider.style.width = `calc(100% * ${sliderSection.length})`
    if (sliderSection.length <= 1) {
        slider.style.marginLeft = '0'
        buttons.forEach((element) => {
            element.style.display = 'none'
        })
    }
    slider.insertAdjacentElement('afterbegin', sliderSectionLast)

    function next() {
        let sliderSectionFirst = document.querySelectorAll('.slider__section')[0];
        slider.style.marginLeft = "-200%";
        slider.style.transition = "all 0.5s";
        setTimeout(() => {
            slider.style.transition = "none";
            slider.insertAdjacentElement('beforeend', sliderSectionFirst)
            slider.style.marginLeft = "-100%";
        }, 500)
    }

    function prev() {
        let sliderSection = document.querySelectorAll('.slider__section');
        let sliderSectionLast = sliderSection[sliderSection.length - 1];
        slider.style.marginLeft = "0";
        slider.style.transition = "all 0.5s";
        setTimeout(() => {
            slider.style.transition = "none";
            slider.insertAdjacentElement('afterbegin', sliderSectionLast)
            slider.style.marginLeft = "-100%";
        }, 500)
    }

    // setInterval(() => {
    //     next();
    // }, 5000)

    btnRight.addEventListener('click', next)
    btnLeft.addEventListener('click', prev)

</script>