<div id="shopify-section-promo">
   <div class="swiper">
      <div class="swiper-wrapper w-[100%]">
         {% for block in section.blocks %}
         {% if block.settings.text-promo  %} 
         <div class="swiper-slide promo__container">
            <h3>{{ block.settings.text-promo }}</h3>
         </div>
         {% endif %}
         {% endfor %}
      </div>
   </div>
</div>

{%- style -%}
    .swiper-slide{
        height: inherit;
        width: inherit;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
{%- endstyle -%}

<script>
   const swiper = new Swiper('.swiper', {
       // Optional parameters
       direction: 'horizontal',
       loop: true,

       // If we need pagination
       pagination: {
           el: '.swiper-pagination',
       },
       autoplay: {
           delay: 5000,
       },
   });
</script>

{% schema %}
{
   "name":"test-text",
   "settings":[],
   "blocks":[
      {
         "name": "Text slide",
         "type": "slide",
         "settings":[
            {
               "type":"text",
               "id":"text-promo",
               "label":"text",
               "default": "25% off (Almost) Everything! Use Code: Summer Sale"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"test-preset"
      }
   ]
}
{% endschema %}

<style>
   .promo__container{
      background-color: #88c8bc;
      padding: 0 50px;
   }

   .promo__container h3{
      text-transform: uppercase;
      color: #ffff;
      text-align: center;
      padding: 14px 0;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
   }
</style>

