<div id="shopify-section-textsection">
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
    <div class="slide" {{ block.shopify_attributes }}>
        <h3>{{ block.settings.text }}</h3>
    </div>
    {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name":"Slideshow",
    "tag":"section",
    "settings":[
       {
          "type":"text",
          "id":"title",
          "label":"Slideshow"
       }
    ],
    "blocks":[
       {
          "name":"text-text",
          "type":"text",
          "settings":[
             {
                "type":"text",
                "id":"text-test",
                "label":"Image"
             }
          ]
       }
    ],
    "presets":[
       {
          "name":"test-preset"
       }
    ]
 }
{% endschema %}