<div id="textsection">
    <div class="simpletext">
        <h1> {{ section.settings.text-box }} </h1>
    </div>
    {% for block in section.blocks %}
    <div class="simpletext" {{ block.shopify_attributes }}>
        {% for subtext in block.settings.text %}
        <li><span>{{ text }}</span></li>
        {% endfor %}
    </div>
    {% endfor %}
</div>
   
{% schema %}
    {
        "name": "test-section",
        "settings": [
        {
            "id": "text-box",
            "type": "text",
            "label": "Heading"
        }
        ],
        "blocks": [
            {
                "name": "text",
                "type": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "subtitle",
                        "default": "Example subtitle"
                    }
                ]
            }
        ],
        "presets": [
        {
            "name": "test-preset"
        }
        ]
    }
{% endschema %}
  