<div id="shopify-section-textsection">
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
    <div class="text" {{ block.shopify_attributes }}>
        <p class="huy">{{ block.settings.text-text }}</p>
    </div>
    {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name":"test-text",
    "blocks":[
       {
          "name":"text-text",
          "type":"text",
          "settings":[
             {
                "type":"text",
                "id":"text-text",
                "label":"text",
                "default": "Hola mundo"
             }
          ]
       }
    ],
    "presets":[
       {
          "name":"test-preset"
       }
    ]
 }
{% endschema %}
