<div class="">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper w-[100%] h-[600px]">
            <!-- Slides -->
            {% for block in section.blocks %}
            {% if block.settings.image  %} 
            <div class="swiper-slide text-white relative bg-grey-50 cursor-pointer text-center"
            style="background-image: url('{{ block.settings.image | image_url }}');">
                <h2 class="slider-head-1">MEN'S</h2>
                <h2 class="slider-head-2">SHOES</h2>
                <h2 class="slider-head-3">COLLECTION</h2>
                <p class="slider-text">New trending shoes</p>
                <a href="#" class="shop-link slider-link block m-auto">SHOP COLLECTION</a>
            </div>
            {% else %}
            <div class="swiper-slide text-white relative bg-grey-50 cursor-pointer text-center"
            style="background: {{ block.settings.color_background }};">
                <h2 class="slider-head-1">MEN'S</h2>
                <h2 class="slider-head-2">SHOES</h2>
                <h2 class="slider-head-3">COLLECTION</h2>
                <p class="slider-text">New trending shoes</p>
                <a href="#" class="shop-link slider-link block m-auto">SHOP COLLECTION</a>
            </div>
            {% endif %}
            {% endfor %}
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

{%- style -%}
    .swiper-slide{
        height: inherit;
        width: inherit;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
{%- endstyle -%}

{% schema %}
{
    "name":"test-swipper",
    "settings":[
    ],
    "blocks":[
        {
            "name":"Slide image",
            "type":"slide",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Select image slide"
                },
                {
                    "type": "color_background",
                    "id": "color_background",
                    "label": "Background",
                    "default": "grey"
                }
            ]
        }
    ],
    "presets":[
       {
          "name":"test-swipper"
       }
    ]
 }
{% endschema %}

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            enabled: false,
            hide: true,
        },
        // autoplay: {
        //     delay: 5000,
        // },
    });
</script>