{% for block in section.blocks %}
    {% case block.type %}
        {% when 'text' %}
            <div class="text" {{ block.shopify_attributes }}>
                {{block.settings.test-text}}
            </div>
    {% endcase %}
{% endfor %}


{% schema %}
    {
        "name": "test-file",
        "blocks": [
            {
                "name": "test-text",
                "type": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "test-text",
                        "default": "text from section",
                        "label": "test-text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "test-preset"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
    .title, .text{
        width: fit-content;
        padding-left: 50px;
        padding-bottom: 50px;
    }
{% endstylesheet %}
