<div id="shopify-section-textsection">
    <div class="simpletext">
        <h1> {{ section.settings.text-box }} </h1>
      {% for block in section.blocks %}
    <div class="simpletext">
        <p><span>{{ block.settings.text }}</span></p>
    </div>
    {% endfor %}
    </div>
</div>
   
{% schema %}
    {
        "name": "test-section",
        "settings": [
        {
            "id": "text-box",
            "type": "text",
            "label": "Heading"
        }
        ],
        "blocks": [
            {
                "name": "text",
                "type": "text",
                "settings": [
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "subtitle",
                        "default": "prueba"
                    }
                ]
            }
        ],
        "presets": [
        {
            "name": "test-preset"
        }
        ]
    }
{% endschema %}
  