/*Desktop*/
footer {
    padding-top: 90px;
}

.footer h5,
.footer ul {
    font-size: 12px;
}

.footer p {
    font-size: 14px;
}

.footer__top-column>p,
.footer h5 {
    line-height: 25px;
}

.footer li,
.footer a,
.footer p,
.footer span {
    color: #595959;
    font-weight: 300;
    font-family: var(--font-heading-family);
}

.footer__top {
    display: flex;
    gap: 40px;
    padding-bottom: 56px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__top .footer__top-column {
    width: 180px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.footer h5 {
    font-family: var(--font-body-family);
    font-weight: 400;
    margin-bottom: 35px;
    letter-spacing: 2px;
}

footer li {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer ul {
    word-break: break-all;
    padding: 0;
}

.footer-copy {
    text-align: center;
}

.footer__bottom {
    padding: 1.65rem 0;
}

/*Tablet*/
@media screen and (max-width: 990px) {
    .footer__top .footer__top-column:last-child {
        flex-basis: 100%;
    }
}

/*Mobile*/
@media screen and (max-width: 720px) {
    .footer__top {
        flex-direction: column;
        gap: 15px;
    }

    .footer__top .footer__top-column {
        width: 100%;
    }
}