@import url('./variables.css');

/*Desktop*/
* {
    line-height: normal;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    /* padding: 0 8vw; */
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.shop-link {
    font-weight: 100;
    font-family: var(--font-heading-family);
    letter-spacing: 2px;
    padding: 20px 30px;
    background-color: #616161;
    border-radius: 40px;
    color: #fff;
    display: block;
    width: fit-content;
}

.shop-link:hover {
    background-color: #000;
}

.btn {}

/*Tablet*/
@media screen and (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

/*Mobile*/
@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}